.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px 50px;
  background-color: #fcfcfd; 
  width: 100vw;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #FFCB04;
  width: 100vw;
  overflow-x:unset
  }

.paragraph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  flex-direction: column;
  padding-left: 100px;
  
}

.logo-container {
  display: flex;
  align-items: center;

}

.logo {
  width: 80px; 
  height: 80px;
  margin-right: 40px;

}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.image {
  
  object-fit: cover;
  min-width:33.333%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-clip-margin: content-box;
  overflow: clip;

}

.paragraph{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
}
h3,h4{
  font-size: 20px;
  color: #000;
  margin-top: 0;
  text-align: center;
  margin-block: 10px;
}

p{
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #161616;
}

select,
option {
  font-size: 14px;
  padding: 5px;
  font-weight: 500;
}

input[type='text'], 
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cfc9c9;
  margin-bottom: 20px;
  width: 100%;
  line-height: 5px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 500px;
  flex-basis: calc(50% - 20px);
}

.input-field input,
.input-field select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}


.input-container {
  overflow-x: auto;
  background-color: #fcfcfd;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 40%;
  margin: auto;
  border-radius: 10px;
}


.parent-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
}


button {
  background-color: #FFCB04;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.download-csv {
  margin-left: 70px; 
  display: flex;
  flex-direction: column;
  background-color: #2F4858;
  color: #fff
}

button:hover {
  background-color: #2F4858;
  color: #fff;
}
.download-csv:hover {
  background-color: #FFCB04;
  color: #000;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.no-wrap {
  white-space: nowrap;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}

th {
  background-color: #2F4858;
  color: #ffff;
  text-align: center;
}

@media (max-width: 768px) {
  .parent-container {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    }
  .input-field {
    flex-basis: auto;
    width: 100%;
    margin: 10px 0;
  }
  h2 {
    width: 100%;
    font-size: 24px;
  }
  .input-container {
    width: 90%;
    padding: 20px;
  }
  button {
    margin: auto;
    font-weight: bold;
    align-items: center;
    padding-bottom: 10px;
  }
  .download-csv {
    margin:auto; 
  }
}
@media (max-width: 600px) {
  .parent-container {
    flex-direction: column;
    
  }
  .image{
    display: none;
  }
  .button-container {
    flex-direction: column;
    align-items: center;

    }

    .download-csv {
      margin:auto; 
    }
  .input-field {
    flex-basis: auto;
    width: 100%;
    margin: 10px 0;
  }
  h2 {
    width: 100%;
    font-size: 20px;
  }
  .input-container {
    width: 90%;
    padding: 20px;
  }
  button {
    padding: 15px 25px;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
    align-items: center;
  }
  table {
    display: none;
    }
}